# ignore hathor specific files
data/*.json
data/config.py
data/cookies.txt
db/*
plugins/*

# ignore cache and env
.env
.cache*

# ignore python files
pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# ignore macOS files
.DS_Store
