# set your bot token here
BOT_TOKEN = ''

# set to True if bot is in maintenance mode
MAINTENANCE = False

# set your prefix
BOT_PREFIX = '!'

# set the bot administrator (your personal userID)
BOT_ADMIN  = 

# set your openai key here
# BOT_OPENAI_KEY = ''
# BOT_OPENAI_MODEL = 'gpt-3.5-turbo'

# youtube api key (required for playlists to process properly)
BOT_YOUTUBE_KEY = ''

# maximum playlist legnth
MUSIC_MAX_PLAYLIST = 20

# maximum song length
MUSIC_MAX_DURATION = 1800