# set your bot token here
BOT_TOKEN = ''

# set your prefix
BOT_PREFIX = '!'

# set the bot administrator (your personal userID)
BOT_ADMIN  = 000000000

# set your openai key here (optional)
#BOT_OPENAI_KEY = ''
#BOT_OPENAI_MODEL = 'gpt-3.5-turbo'

# spotify api
BOT_SPOTIFY_CLIENT = ''
BOT_SPOTIFY_SECRET = ''

# youtube api key
BOT_YOUTUBE_KEY = ''

# set to True if bot is in maintenance mode
MAINTENANCE = False

# maximum song length
MUSIC_MAX_DURATION = 1800

# maximum playlist legnth
MUSIC_MAX_PLAYLIST = 20

# radio queue length (how many songs should radio queue at a time)
RADIO_QUEUE = 5

####################################################################
#       !! DON'T MODIFY BELOW ME !! DON'T MODIFY BELOW ME !!       #
####################################################################

def LoadSettings():
    try:
        with open('settings.json', 'r') as file:
            return json.load(file)
    except FileNotFoundError:
        with open('settings.json', 'w') as file:
            default = {}
            json.dump(default, file, indent=4)
            return default

def SaveSettings():
    with open('settings.json', 'w') as file:
        json.dump(settings, file, indent=4)

settings = LoadSettings()