import json

####################################################################
#  API Keys
####################################################################
BOT_TOKEN = ''  # discord bot token (https://discord.com/developers)
BOT_OPENAI_KEY = ''  # openai api key (https://platform.openai.com/api-keys)
BOT_YOUTUBE_KEY = ''  # youtube api key (https://console.cloud.google.com/apis/credentials)
BOT_SPOTIFY_CLIENT = ''  # spotify client id (https://developer.spotify.com/dashboard/)
BOT_SPOTIFY_SECRET = ''  # spotify client secret (https://developer.spotify.com/dashboard/)


####################################################################
#  Bot Settings
####################################################################
BOT_PREFIX = '!'    # set your commandprefix
MAINTENANCE = False  # set to True if bot is in maintenance mode
BOT_ADMIN  = 000000000000000000  # set the bot administrator (your personal userID)
SONGDB_PATH = 'db'  # path to the song database


####################################################################
#  OpenAI Settings
####################################################################
BOT_CHATGPT_MODEL = 'o4-mini'
BOT_GPTIMAGE_MODEL = 'gpt-image-1'
BOT_OPENAI_TEMPERATURE = 1


####################################################################
#  Music Settings
####################################################################
BILLBOARD_HOT_100 = 'https://api.spotify.com/v1/playlists/37i9dQZF1DXcBWIGoYBM5M'  # billboard hot 100 playlist link (spotify)
MUSIC_MAX_PLAYLIST = 20  # maximum playlist legnth
MUSIC_MAX_DURATION = 1800  # maximum song length
RADIO_QUEUE = 4  # radio queue length (how few songs in queue until we queue more (+1))
SPOTIFY_KEY_REFRESH = 1800  # how often to refresh spotify keys (in seconds)


####################################################################
#       !! DON'T MODIFY BELOW ME !! DON'T MODIFY BELOW ME !!       #
####################################################################
def LoadSettings():
    try:
        with open('settings.json', 'r') as file:
            return json.load(file)
    except FileNotFoundError:
        with open('settings.json', 'w') as file:
            default = {}
            json.dump(default, file, indent=4)
            return default

def SaveSettings():
    with open('settings.json', 'w') as file:
        json.dump(settings, file, indent=4)

settings = LoadSettings()